<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>id 찾기</title>
    <link rel="stylesheet" href="/assets/stylesheets/common.css">
    <link rel="stylesheet" href="/assets/stylesheets/form.css">
</head>
<div class="container">

    <div th:if="${error_message}" class="alert" role="alert" style="color: red;">
        <p th:text="${error_message}"></p>
    </div>

    <h2>id 찾기, 이메일 인증이 필요합니다.</h2>
    <form id="emailForm" action="/student/loginInfo/id/find" method="post">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <button type="submit">Submit</button>
    </form>

    <div th:if="${showVerificationSection}" id="verificationSection">
        <hr>
        <p th:text="|당신이 찾고자 하는 계정의 email은 ${desiredEmail} 입니다.|"></p>
        <h3>인증 코드를 입력하세요</h3>
        <form id="validationForm" action="/student/loginInfo/id/detail" method="post">
            <input type="hidden" name = "email" th:value="${desiredEmail}">
            <label for="validationCode">인증코드:</label><br>
            <input type="text" id="validationCode" name="validationCode" required><br>
            <button type="submit">Submit</button>
        </form>
    </div>

</div>
<script src="/assets/javascripts/student/register.js"></script>
</html>