<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>앞으로 배울 것들 - CNN</title>
    <link rel="stylesheet" href="/assets/stylesheets/courses/dialogue.css">
    <link rel="stylesheet" href="/assets/stylesheets/common.css">
    <link rel="stylesheet" href="/assets/stylesheets/table.css">
    <link rel="stylesheet" href="/assets/stylesheets/form.css">
    <link rel="stylesheet" href="/assets/stylesheets/mypage.css">
    <style>
        .horizontal {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        img.pattern {
            width: 100px;
            height: 100px;
        }
        .magic-circle {
            margin: 0;
            border-radius: 50px;
            width: 100px;
            height: 100px;
            background-color: #add8e6;
            word-break: keep-all;
        }
        .pattern-caption {
            margin: 0;
            width: 100px;
            height: 100px;
            word-break: keep-all;
        }
        .middle-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .with-transition {
            transition: filter 1s ease-out;
        }
    </style>
</head>
<div class="container">

    <div th:if="${error_message}" class="alert" role="alert" style="color: red;">
        <p th:text="${error_message}"></p>
    </div>
    <div th:if="${name}" class="alert" role="alert" style="color: black;">
        <p th:text="|${name} 학생이 로그인 되었습니다.|"></p>
    </div>
    <div th:if="${created_class_name}" class="alert" role="alert" style="color: black;">
        <p th:text="|${created_class_name} 클래스가 생성되었습니다.|"></p>
    </div>
    <form action="/general/user/mypage" method="GET">
        <button type="submit" style="width: 30%;">My Page로 가기</button>
    </form>
    <br>
    <form action="/general/user/logout" method="POST">
        <button type="submit" style="width: 30%;">학생 로그아웃</button>
    </form>

    <div class="big_section">
        학습목표 : 인공지능 수학이 활용되는 다양한 예를 찾을 수 있다.
    </div>

    <div class="big_section">
        "마지막으로, '사진을 인공지능으로 처리하는 마법'을 살펴보겠습니다.
        이 마법은 사진을 컴퓨터 비전 기술을 사용하여 분석하고 이해하는 것을 의미합니다.
        이를 통해 우리는 사진 속에 있는 객체나 패턴을 식별하고 분류할 수 있습니다."
    </div>

    <div class ="big_section">
        <p>
            설명이 이해하기 어렵지요? 분류기의 예시를 보면서 학습을 해봅시다!
            제가 준비한 것은 물의 문양, 불의 문양, 풀의 문양을 분류할 수 있는 CNN 마법 분류기입니다.
        </p>
        <p>
            분류할 문양은 아래의 세 가지 문양이에요.
        </p>
        <div class="horizontal">
            <div>
                <img class="pattern" src="/assets/images/MagicUniv/rain.svg" alt="물" style="filter: drop-shadow(0 0 8px blue)">
                <p>물의 문양</p>
            </div>
            <div>
                <img class="pattern" src="/assets/images/MagicUniv/fire.svg" alt="불" style="filter: drop-shadow(0 0 8px red)">
                <p>불의 문양</p>
            </div>
            <div>
                <img class="pattern" src="/assets/images/MagicUniv/leaf.svg" alt="풀" style="filter: drop-shadow(0 0 8px green)">
                <p>풀의 문양</p>
            </div>
        </div>
        <p>
            제가 만든 CNN 분류기는 아래와 같습니다.<br> selection button 을 클릭해서 사진을 바꿔가며 동작하는 모습을 간단히 확인해보세요!
        </p>
        <div class="horizontal">
            <label>
                <select id="image-select" style="width: 100px;">
                    <option value="0">물의 문양</option>
                    <option value="1">불의 문양</option>
                    <option value="2">풀의 문양</option>
                </select>
                <img id="selected-image" class="pattern" src="/assets/images/MagicUniv/rain.svg">
            </label>
            <canvas id="feature-layer" width="150" height="300"></canvas>
            <div>
                <p class="magic-circle middle-text">
                    |대각선에 반응하는 마법진|
                </p>
                <p class="magic-circle middle-text">
                    |수직 직선에 반응하는 마법진|
                </p>
                <p class="magic-circle middle-text">
                    |곡선에 반응하는 마법진|
                </p>
            </div>
            <canvas id="dense-layer" width="150" height="300"></canvas>
            <div>
                <div class="horizontal">
                    <img id="result1" class="pattern with-transition" src="/assets/images/MagicUniv/rain.svg" alt="물">
                    <p class="pattern-caption middle-text">물의 문양일 확률</p>
                </div>
                <div class="horizontal">
                    <img id="result2" class="pattern with-transition" src="/assets/images/MagicUniv/fire.svg" alt="불">
                    <p class="pattern-caption middle-text">불의 문양일 확률</p>
                </div>
                <div class="horizontal">
                    <img id="result3" class="pattern with-transition" src="/assets/images/MagicUniv/leaf.svg" alt="풀">
                    <p class="pattern-caption middle-text">풀의 문양일 확률</p>
                </div>
            </div>
        </div>
    </div>
    <div class = "big_section">
        <p>
            위의 분류기를 클릭해보셨나요?<br>
            위 분류기의 요소들을 조금 더 자세히 설명 드릴게요.<br>
            |대각선에 반응하는 마법진|<br>
            |수직 직선에 반응하는 마법진|<br>
            |곡선에 반응하는 마법진|<br>
            위 세가지 마법진은 특정한 특징(feature)에 반응하는 마법진입니다.
        </p>
        <p>
            다양한 특징(feature)을 뽑아내고 오른쪽 레이어에서 활용합니다.
            오른쪽에 있는 완전 연결 레이어로 특정 문양인지 확률을 구할 수 있습니다!
        </p>
        <p>
            위와 같은 분류기를 제대로 이해하기 위해 이후 단원에서는 다음과 같은 내용을 배우게 될 것입니다:<br>
            사진을 숫자로 표현하는 방법, 사진에서 특징을 추출하는 방법, 특정 사진일 확률을 구할 때 손실 함수를 도입하는 방법,
            그리고 CNN에 필요한 추가 지식 등...
        </p>
    </div>

<!--    <div class = "big_section">-->
<!--        <p>-->
<!--            수업이 너무 어려웠나요?-->
<!--            걱정하지 마세요. 지금까지 말씀드린 부분은 저희가 마법대학교에서 무엇을 학습할 것인지 대해 개요를 간략하게 설명 드린 것입니다.-->
<!--            이후 단원에서 다시 한 번 더 자세히 설명 드릴 것이니 다음 수업을 기대해주세요!-->
<!--            오늘은 너무 수고하셨습니다.-->
<!--        </p>-->
<!--    </div>-->

    <br>
    <br>
    <form action="/courses/MagicUniv/supply_05" method="get">
        <!-- 전송 버튼 -->
        <input type="submit" value = "다음으로 이동하기" class = "custom-button">
    </form>


</div>
<script src="/assets/javascripts/courses/MagicUniv/supply_04.js" type="module"></script>
<script src="/assets/javascripts/student/register.js"></script>
</html>