<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>앞으로 배울 것들 - 임베딩 벡터</title>
    <link rel="stylesheet" href="/assets/stylesheets/courses/dialogue.css">
    <link rel="stylesheet" href="/assets/stylesheets/common.css">
    <link rel="stylesheet" href="/assets/stylesheets/table.css">
    <link rel="stylesheet" href="/assets/stylesheets/form.css">
    <link rel="stylesheet" href="/assets/stylesheets/mypage.css">
</head>
<div class="container">

    <div th:if="${error_message}" class="alert" role="alert" style="color: red;">
        <p th:text="${error_message}"></p>
    </div>
    <div th:if="${name}" class="alert" role="alert" style="color: black;">
        <p th:text="|${name} 학생이 로그인 되었습니다.|"></p>
    </div>
    <div th:if="${created_class_name}" class="alert" role="alert" style="color: black;">
        <p th:text="|${created_class_name} 클래스가 생성되었습니다.|"></p>
    </div>
    <form action="/general/user/mypage" method="GET">
        <button type="submit" style="width: 30%;">My Page로 가기</button>
    </form>
    <br>
    <form action="/general/user/logout" method="POST">
        <button type="submit" style="width: 30%;">학생 로그아웃</button>
    </form>

    <div class="big_section">
        학습목표 : 인공지능 수학이 활용되는 다양한 예를 찾을 수 있다.
    </div>

    <div class="big_section">
        <p>
            "마법지능이 소리를 어떻게 저장하는지는 어느 정도 설명이 되었다고 생각합니다. 그러면 그렇게 저장한 소리의 의미는 어떻게 이해할까요?<br>
            이 주제는 우리 마법지능학과의 연구 과제와도 밀접한 연관이 있습니다. 우리 대학의 자랑인 초거대 워드-투-벡터 마법진이 바로 그 역할을 하죠.<br>
            우리 대학은 학생들의 학습과 연구를 돕기 위해 지하에 수많은 종류의 마법진을 구축해 두어 대학 시설 어디에서든 사용할 수 있으니 참고하시기 바랍니다."
        </p>
        <p>
            "이 마법진은 물리적인 크기뿐만 아니라 차원 역시도 우리 차원을 뛰어넘기 때문에 이 마법진이 어떤 마법 구조를 형성하는지는 아무도 알 수 없습니다.<br>
            하지만, 이 마법 구조를 제어하거나 그 일부를 현실계에 투영할 수는 있죠. 지금 이 강의실 안에 세 단어의 부분 구조를 투영시켜 보겠습니다."
        </p>
    </div>

    <div class ="big_section">
        <p class="rounded-skyblue">1차원 공간에서의 비교</p>
        <canvas id="myCanvas" width="400" height="200"></canvas>
        <p>
            "이 마법진을 단어의 의미 파악에 사용할 수 있는 것은, 비슷한 의미의 단어가 마법 구조 안에서도 비슷한 위치로 모이기 때문입니다.<br>
            여기 있는 학생들 모두가 '고마워'의 의미가 '미워'보다는 '사랑해'와 비슷하다는 것을 이해하리라 생각합니다."
        </p>
        <p>
            "아직은 세 단어의 부분 구조 중 한 차원만 투영한 상태입니다. 이제 한 차원을 더 투영해 보겠습니다."
        </p>
    </div>

    <div class ="big_section">
        <p class="rounded-skyblue">2차원 공간에서의 비교</p>
        <canvas id="myCanvas2" width="400" height="400"></canvas>
        <p>
            "마법진이 그리는 마법 구조는 아직도 상당 부분이 미궁에 싸여있지만, 우리 연구자들은 그 비밀을 밝혀내기 위해 연구에 매진하고 있지요.<br>
            여러분이 보고 있는 두 차원 중 X축은 '호감', Y축은 '다정함'이라는 개념과 일치한다는 것이 현재 학계의 정설입니다."
        </p>
        <p>
            "방금 보았던 초거대 워드-투-벡터 마법진의 가장 놀라운 점은, 마법진에 포함된 수만 개의 단어와 수천 개의 차원이 마법사들이 손으로 직접 그린 것이 아니라 학습 마법을 통해 스스로 그려진 것이라는 점입니다."
        </p>
    </div>

    <!-- <div class ="big_section">
        <p>
            2차원 공간에서의 비교 - 직접 단어에 정보 입력하고 벡터 확인하기
        </p>
        <p>
            이번엔 직접 단어를 입력하고, 단어의 정보를 입력해서 실습을 진행해봐요!
            위에서 말했지만, X축으로는 호감도, Y축으로는 다정함을 크기로 가져요.
        </p>
        <div class ="outer-div">
            <div class="canvas-container">
                <canvas id="myCanvas3" width="400" height="400"></canvas>
                </div>
            <div  class="canvas-container">
                <p>2차원 공간에서의 비교</p>
                <label for="input1_sentence">
                    <input type="text" id="input1_sentence" value="미워">
                </label>
                <label for="input1_x">입력1 x:</label>
                <input type="range" min="-1" max="1" step="0.1" value="-0.8" id="input1_x">
                <label for="input1_y">입력1 y:</label>
                <input type="range" min="-1" max="1" step="0.1" value="-0.9" id="input1_y">

                <label for="input2_sentence">
                    <input type="text" id="input2_sentence" value="고마워">
                </label>
                <label for="input2_x">입력2 x:</label>
                <input type="range" min="-1" max="1" step="0.1" value="0.8" id="input2_x">
                <label for="input2_y">입력2 y:</label>
                <input type="range" min="-1" max="1" step="0.1" value="0.3" id="input2_y">

                <label for="input3_sentence">
                    <input type="text" id="input3_sentence" value="사랑해">
                </label>
                <label for="input3_x">입력3 x:</label>
                <input type="range" min="-1" max="1" step="0.1" value="0.7" id="input3_x">
                <label for="input3_y">입력3 y:</label>
                <input type="range" min="-1" max="1" step="0.1" value="0.8" id="input3_y">

            </div>
        </div>
        <p>
            마법사님은 지금까지 단어를 벡터로 나타내는 것을 배웠고, 단어가 얼마나 비슷한지 시각적으로 바로 알아챌 수 있게 되었어요.
            단어를 원하는데로 수치화해본게 도움이 되었으면 좋겠네요!
        </p>
        <p>
            혹시 어려우셨나요? 걱정하지 말아요. 추후 단원에선 얼마나 닮았는지 측정하는 방법을 다시 (더 자세히!) 배울 거니까요.
        </p>
    </div> -->

    <div class="big_section">
        <p class="rounded-skyblue">무엇을 배웠을까?</p>
        <p>
            인공지능은 우리가 표현하는 언어를 어떻게 이해할까요?<br>
            여러 가지 방법이 있지만, 현재 가장 널리 사용되는 방법은 각 단어가 여러 가지 의미를 차원으로 가진다고 생각하고, 학습을 통해 가장 적합한 조합의 의미를 스스로 찾도록 합니다.<br>
            이러한 과정을 거쳐 자연어를 여러 개의 벡터로 표현한 것을 임베딩 벡터라고 합니다.
        </p>
    </div>




    <!--    <input type="hidden" id="CurrPath" th:value="${CurrPath}">-->
    <br>
<!--    <div id="talkInterface">-->
<!--        <canvas id="imageCanvas" width="500" height="500" onclick="changeImage()"></canvas>-->
<!--        <div id="dialogueBox"></div>-->
<!--    </div>-->
    <br>
    <form action="/courses/MagicUniv/supply_04" method="get">
        <!-- 전송 버튼 -->
        <input type="submit" value = "다음으로 이동하기" class = "custom-button">
    </form>


</div>
<script src="/assets/javascripts/courses/MagicUniv/supply_03.js" type="module"></script>
<script src="/assets/javascripts/student/register.js"></script>
</html>