<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>앞으로 배울 것들 - 푸리에 변환</title>
    <link rel="stylesheet" href="/assets/stylesheets/courses/dialogue.css">
    <link rel="stylesheet" href="/assets/stylesheets/common.css">
    <link rel="stylesheet" href="/assets/stylesheets/table.css">
    <link rel="stylesheet" href="/assets/stylesheets/form.css">
    <link rel="stylesheet" href="/assets/stylesheets/mypage.css">
    <style>
        .horizontal {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        canvas.plot {
            border: 1px solid black;
        }
    </style>
</head>
<div class="container">

    <div th:if="${error_message}" class="alert" role="alert" style="color: red;">
        <p th:text="${error_message}"></p>
    </div>
    <div th:if="${name}" class="alert" role="alert" style="color: black;">
        <p th:text="|${name} 학생이 로그인 되었습니다.|"></p>
    </div>
    <div th:if="${created_class_name}" class="alert" role="alert" style="color: black;">
        <p th:text="|${created_class_name} 클래스가 생성되었습니다.|"></p>
    </div>
    <form action="/general/user/mypage" method="GET">
        <button type="submit" style="width: 30%;">My Page로 가기</button>
    </form>
    <br>
    <form action="/general/user/logout" method="POST">
        <button type="submit" style="width: 30%;">학생 로그아웃</button>
    </form>

    <div class="big_section">
        학습목표 : 인공지능 수학이 활용되는 다양한 예를 찾을 수 있다.
    </div>

    <div class="big_section">
        <p>
        "먼저, 우드로우 교수님께서 제시한 첫 번째 마법은 '음성 파형을 삼각함수의 합으로 나타내는 마법'입니다.
        이 마법은 음성을 삼각함수의 합으로 분해하여 주파수 도메인에서 이해하는 것을 의미합니다.
        이를 통해 우리는 음성 데이터를 더 깊이 이해하고 분석할 수 있습니다."
        </p>
        <p>
            아래에 있는 사인 함수들로 새로운 사인 함수를 만들어낼 수 있어요!
            슬라이드를 조작해서 사인 함수를 합성해 봐요!
        </p>
    </div>

    <!--    <input type="hidden" id="CurrPath" th:value="${CurrPath}">-->
    <br>
<!--    <div id="talkInterface">-->
<!--        <canvas id="imageCanvas" width="500" height="500" onclick="changeImage()"></canvas>-->
<!--        <div id="dialogueBox"></div>-->
<!--    </div>-->
    <br>

    <div class="horizontal">
        <div class="canvas-container">
            <canvas id="myCanvas1" class="plot" width="200" height="200"></canvas>
            <label for="scaleSlider1">
                <input type="range" min="-1" max="1" value="1" step="0.1" id="scaleSlider1"> <!-- 슬라이더 요소 -->
            </label>

            <canvas id="myCanvas2" class="plot" width="200" height="200"></canvas>
            <label for="scaleSlider2">
                <input type="range" min="-1" max="1" value="0" step="0.1" id="scaleSlider2"> <!-- 슬라이더 요소 -->
            </label>

            <canvas id="myCanvas3" class="plot" width="200" height="200"></canvas>
            <label for="scaleSlider3">
                <input type="range" min="-1" max="1" value="0" step="0.1" id="scaleSlider3"> <!-- 슬라이더 요소 -->
            </label>
        </div>
        <img src="/assets/images/MagicUniv/arrow.png" alt="세 개의 그래프가 합쳐지는 화살표">
        <canvas id="myCanvas4" class="plot" width="200" height="200"></canvas>
    </div>

    <div class="big_section">
        <p>
            위에 있는 슬라이드를 움직여보며 사인함수들을 조작해보셨나요?
            모든 주파수는 삼각함수의 합으로 나타낼 수 있답니다.
        </p>
        <p>
            우리는 저장하고 싶은 소리를 삼각함수의 합으로 나타내어 마법서에 기록하는데,
            인간세계에선 삼각함수의 합으로서 컴퓨터에 저장한다고 하네요!
        </p>
    </div>
    <br>
    <br>
    <br>
    <form action="/courses/MagicUniv/supply_03" method="get">
        <!-- 전송 버튼 -->
        <input type="submit" value = "다음으로 이동하기" class = "custom-button">
    </form>

</div>
<script src="/assets/javascripts/courses/MagicUniv/supply_02.js" type="module"></script>
<script src="/assets/javascripts/student/register.js"></script>
</html>