<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>앞으로 배울 것들 - CNN</title>
    <link rel="stylesheet" href="/assets/stylesheets/courses/dialogue.css">
    <link rel="stylesheet" href="/assets/stylesheets/common.css">
    <link rel="stylesheet" href="/assets/stylesheets/table.css">
    <link rel="stylesheet" href="/assets/stylesheets/form.css">
    <link rel="stylesheet" href="/assets/stylesheets/mypage.css">
    <style>
        .horizontal {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        img.pattern {
            width: 100px;
            height: 100px;
        }
        .magic-circle {
            margin: 0;
            border-radius: 50px;
            width: 100px;
            height: 100px;
            background-color: #add8e6;
            word-break: keep-all;
        }
        .pattern-caption {
            margin: 0;
            width: 100px;
            height: 100px;
            word-break: keep-all;
        }
        .middle-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .with-transition {
            transition: filter 1s ease-out;
        }
    </style>
</head>
<div class="container">

    <div th:if="${error_message}" class="alert" role="alert" style="color: red;">
        <p th:text="${error_message}"></p>
    </div>
    <div th:if="${name}" class="alert" role="alert" style="color: black;">
        <p th:text="|${name} 학생이 로그인 되었습니다.|"></p>
    </div>
    <div th:if="${created_class_name}" class="alert" role="alert" style="color: black;">
        <p th:text="|${created_class_name} 클래스가 생성되었습니다.|"></p>
    </div>
    <form action="/general/user/mypage" method="GET">
        <button type="submit" style="width: 30%;">My Page로 가기</button>
    </form>
    <br>
    <form action="/general/user/logout" method="POST">
        <button type="submit" style="width: 30%;">학생 로그아웃</button>
    </form>

    <div class="big_section">
        학습목표 : 인공지능 수학이 활용되는 다양한 예를 찾을 수 있다.
    </div>

    <div class="big_section">
        "마지막으로, 최근 각광받고 있는 마법지능인 마법신경망을 살펴보겠습니다.<br>
        우리 뇌는 수많은 뉴런이 서로 신호를 주고받는 구조라는 것이 최근 뇌과학계에서 정설로 정립되고 있는데, 마법신경망은 이 원리에 착안하여 뉴런의 원리를 마법으로 구현해 낸 마법과학 협력의 좋은 예라고 할 수 있습니다.<br>
        다만 뇌신경에 대해 밝혀진 것이 아직 많지 않은 만큼 마법신경망 역시 간단한 신경 계층을 여러 개 겹치는 기초적인 수준만이 구현되어 있습니다."
    </div>

    <div class="big_section">
        <p>
            학생 여러분들이 그동안 많이 사용해 왔을 물 마법, 불 마법, 풀 마법의 문양을 그려 보겠습니다.
        </p>
        <div class="horizontal">
            <div>
                <img class="pattern" src="/assets/images/MagicUniv/rain.svg" alt="물" style="filter: drop-shadow(0 0 8px blue)">
                <p>물의 문양</p>
            </div>
            <div>
                <img class="pattern" src="/assets/images/MagicUniv/fire.svg" alt="불" style="filter: drop-shadow(0 0 8px red)">
                <p>불의 문양</p>
            </div>
            <div>
                <img class="pattern" src="/assets/images/MagicUniv/leaf.svg" alt="풀" style="filter: drop-shadow(0 0 8px green)">
                <p>풀의 문양</p>
            </div>
        </div>
        <p>
            원래 마법 문양이 올바른 원소 마법으로 시전되는 과정은 우리 마법사들도 제대로 연구하지 못하던 자연의 수수께끼였습니다.<br>
            하지만 최근 발달한 마법신경망 기술 덕에 우리는 마법 문양 인식이라는 신비로운 과정을 어느 정도 모사할 수 있게 되었습니다. 어떤 문양부터 그려넣어 볼까요?
        </p>
        <div class="horizontal">
            <label>
                <select id="image-select" style="width: 100px;">
                    <option value="0">물의 문양</option>
                    <option value="1">불의 문양</option>
                    <option value="2">풀의 문양</option>
                </select>
                <img id="selected-image" class="pattern" src="/assets/images/MagicUniv/rain.svg">
            </label>
            <canvas id="feature-layer" width="150" height="300"></canvas>
            <div>
                <p class="magic-circle middle-text">
                    |대각선에 반응하는 마법진|
                </p>
                <p class="magic-circle middle-text">
                    |수직 직선에 반응하는 마법진|
                </p>
                <p class="magic-circle middle-text">
                    |곡선에 반응하는 마법진|
                </p>
            </div>
            <canvas id="dense-layer" width="150" height="300"></canvas>
            <div>
                <div class="horizontal">
                    <img id="result1" class="pattern with-transition" src="/assets/images/MagicUniv/rain.svg" alt="물">
                    <p class="pattern-caption middle-text">물의 문양일 확률</p>
                </div>
                <div class="horizontal">
                    <img id="result2" class="pattern with-transition" src="/assets/images/MagicUniv/fire.svg" alt="불">
                    <p class="pattern-caption middle-text">불의 문양일 확률</p>
                </div>
                <div class="horizontal">
                    <img id="result3" class="pattern with-transition" src="/assets/images/MagicUniv/leaf.svg" alt="풀">
                    <p class="pattern-caption middle-text">풀의 문양일 확률</p>
                </div>
            </div>
        </div>
    </div>
    <div class = "big_section">
        <p>
            지금 보고 계신 마법신경망은 마나 수치를 직접 입력해서 만든 것이고, 가운데에 있는 세 마법진이 각각 대각선, 세로선, 곡선을 인식합니다. 그러고 나면 오른쪽의 결과 마법진이 가운데 마법진의 특징값을 토대로 특정한 문양일 확률을 최종적으로 산출해 냅니다.
        </p>
        <p>
            사실 물 마법, 불 마법, 풀 마법은 문양이 간단하고 각자의 특징이 있기 때문에 그렇게 복잡한 마법신경망이 필요하지는 않습니다. 지금 보여드린 것보다 더욱 복잡한 빙결, 전기, 암흑 등의 문양까지 분류하려면 더욱 복잡하고 계층이 많은 마법신경망을 사용해야 합니다.<br>
            마법신경망 역시 방금 보여드렸던 워드-투-벡터 마법진처럼 학습 마법을 거치는데, 우리 마법지능학자들은 각각의 마법진이 문양에 나타나는 특징을 학습하는 것이라고 보고 있습니다.
        </p>
        <p>
            사실은 이 간단해 보이는 마법신경망에도 이 짧은 시간에 다 설명하기 어려운 마법적 성취가 숨어 있습니다. 문양을 마나 패턴으로 어떻게 나타내는지, 학습 마법의 원리는 무엇이고 구체적으로 어떻게 시전해야 하는지...<br>
            지금 당장은 어렵겠지만 우리 과정의 고학년 강의에서 수강할 수 있으니 너무 걱정은 하지 말기 바랍니다.
        </p>
    </div>

    <div class="big_section">
        <p class="rounded-skyblue">무엇을 배웠을까?</p>
        <p>
            최근 각광받고 있는 인공지능 모델로는 단연 인공신경망을 꼽을 수 있습니다.<br>
            인공신경망은 뉴런의 작동 방식을 본따 만들어진 인공지능 모델로, 텍스트, 이미지, 음성 등 여러 가지 데이터를 처리할 수 있고 뉴련의 배치 역시 자유롭게 구성할 수 있습니다.<br>
            오늘날 우리가 인공신경망을 사용할 수 있게 된 원리로는 행렬의 연산, 손실 함수와 경사하강법 등이 있습니다.
        </p>
    </div>

    <br>
    <br>
    <form action="/courses/MagicUniv/supply_05" method="get">
        <!-- 전송 버튼 -->
        <input type="submit" value = "다음으로 이동하기" class = "custom-button">
    </form>


</div>
<script src="/assets/javascripts/courses/MagicUniv/supply_04.js" type="module"></script>
<script src="/assets/javascripts/student/register.js"></script>
</html>