<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사진 자료 표현 - 컬러 토글 페이지</title>
    <link rel="stylesheet" href="/assets/stylesheets/courses/dialogue.css">
    <link rel="stylesheet" href="/assets/stylesheets/common.css">
    <link rel="stylesheet" href="/assets/stylesheets/table.css">
    <link rel="stylesheet" href="/assets/stylesheets/form.css">
    <link rel="stylesheet" href="/assets/stylesheets/mypage.css">
    <link rel="stylesheet" href="/assets/stylesheets/courses/2dImagePresent_04.css">

</head>
<div class="container">

    <div th:if="${error_message}" class="alert" role="alert" style="color: red;">
        <p th:text="${error_message}"></p>
    </div>
    <div th:if="${name}" class="alert" role="alert" style="color: black;">
        <p th:text="|${name} 학생이 로그인 되었습니다.|"></p>
    </div>
    <div th:if="${created_class_name}" class="alert" role="alert" style="color: black;">
        <p th:text="|${created_class_name} 클래스가 생성되었습니다.|"></p>
    </div>
    <form action="/general/user/mypage" method="GET">
        <button type="submit" style="width: 30%;">My Page로 가기</button>
    </form>
    <br>
    <form action="/general/user/logout" method="POST">
        <button type="submit" style="width: 30%;">학생 로그아웃</button>
    </form>

    <br>
    <div class="big_section">
        <p>
            수와 수학 기호를 이용하여 실생활의 이미지 자료를 목적에 알맞게 표현할 수 있다.
        </p>
    </div>
    <br>


    <div class = "big_section" id="big_section">
        <div class ="matrix-container">
            <h1>Draw to Matrix Converter</h1>
            <label for="colorPicker">
            </label>
            <input type="color" id="colorPicker" value="#000000"> <!-- 색상 선택기 추가 -->
            <canvas id="canvas" width="400" height="400"></canvas>
            <div id="controls">
                <button id="clear">Clear</button>
                <button id="convert">Convert to Matrix</button>
            </div>
    <!--        <div>-->
        </div>
        <div class = "big_section">
            <div class="matrix-container">
                <h2>Color Matrix</h2>
                <div id="matrix" class="matrix-grid"></div>
            </div>

            <div class="matrix-container">
                <h2>Red Matrix</h2>
                <div id="redMatrix" class="matrix-grid"></div>
            </div>
            <div class="matrix-container">
                <h2>Green Matrix</h2>
                <div id="greenMatrix" class="matrix-grid"></div>
            </div>
            <div class="matrix-container">
                <h2>Blue Matrix</h2>
                <div id="blueMatrix" class="matrix-grid"></div>
            </div>

        </div>
<!--        </div>-->
    </div>



    <form action="/courses/ImagePresent/2dImagePresent_05" method="get">
        <!-- 전송 버튼 -->
        <input type="submit" value = "다음으로 이동하기" class = "custom-button">
    </form>


</div>
<script src="/assets/javascripts/courses/ImagePresent/2dImagePresent_04.js" type="module"></script>
<script src="/assets/javascripts/student/register.js"></script>
</html>