<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>선생님 mypage</title>
    <link rel="stylesheet" href="/assets/stylesheets/common.css">
    <link rel="stylesheet" href="/assets/stylesheets/table.css">
    <link rel="stylesheet" href="/assets/stylesheets/form.css">
    <link rel="stylesheet" href="/assets/stylesheets/cards.css">
</head>
<body class="teacher">
<div class="container">
    <div th:if="${error_message}" class="alert" role="alert" style="color: red;">
        <p th:text="${error_message}"></p>
    </div>
    <div th:if="${name}" class="alert" role="alert" style="color: black;">
        <p th:text="${name + ' 선생님이 로그인 되었습니다.'}"></p>
    </div>
    <div th:if="${created_class_name}" class="alert" role="alert" style="color: black;">
        <p th:text="${created_class_name + ' 클래스가 생성되었습니다.'}"></p>
    </div>

    <form action="/teacher/mypage" method="GET">
        <button type="submit" style="width: 30%;">My Page로 가기</button>
    </form>
    <br>
    <form action="/teacher/logout" method="POST">
        <button type="submit" style="width: 30%;">선생님 로그아웃</button>
    </form>

    <h2>선생님 classroom detail</h2>
    <div class="card-container">
        <div class="card">
            <img class="icon" src="/assets/images/user-group.svg">
            <a class="a-button" th:href="@{/teacher/classroom/student/list(className=${class_name})}">
                <span th:text="${class_name + ' 학생 관리'}">Class Name</span>
            </a>
            <p th:text="${'학생 ' + the_num_of_students + '명, 정원 ' + students_maximum_number + '명'}"></p>
        </div>
        <div class="card">
            <img class="icon" src="/assets/images/book-open.svg">
            <a class="a-button" th:href="@{/teacher/classroom/assignment/list(className=${class_name})}">
                <span th:text="${class_name + ' 과제 관리'}">Class Name</span>
            </a>
            <p>과제 n개</p>
        </div>
    </div>
</div>

<script src="/assets/javascripts/teacher/register.js"></script>

</body>
</html>