<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>선생님 mypage</title>
    <link rel="stylesheet" href="/assets/stylesheets/common.css">
    <link rel="stylesheet" href="/assets/stylesheets/register.css">
</head>
<body class="teacher">
<div class="container">
    <div th:if="${error_message}" class="alert" role="alert" style="color: red;">
        <p th:text="${error_message}"></p>
    </div>
    <div th:if="${name}" class="alert" role="alert" style="color: black;">
        <p th:text="${name + ' 선생님이 로그인 되었습니다.'}"></p>
    </div>

    <h2>선생님 classroom make 페이지</h2>
    <form action="/teacher/classroom/make" method="post">
        <div class="form-group">
            <label for="className">클래스 이름:</label>
            <input type="text" id="className" name="class_name" required>
        </div>
        <div class="form-group">
            <label for="subject">과목:</label>
            <input type="text" id="subject" name="subject" required>
        </div>
        <div class="form-group">
            <input type="number" id="maximumNumber" name="maximum_number" min="1" max="50" required>
        </div>
        <button type="submit">수업 분반 생성하기</button>

    </form>

</div>
<script src="/assets/javascripts/teacher/register.js"></script>
</body>
</html>