<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>선생님 mypage</title>
    <link rel="stylesheet" href="/assets/stylesheets/common.css">
    <link rel="stylesheet" href="/assets/stylesheets/form.css">
</head>
<body class="teacher">
<div class="container">
    <div th:replace="~{menu::teacher(~{::crumbs}, ${name})}">
        <th:block th:fragment="crumbs">
            <a href="/teacher/mypage">마이페이지</a>
            <img class="icon" src="/assets/images/chevron-right.svg">
            <span>클래스 만들기</span>
        </th:block>
    </div>

    <h2>클래스 만들기</h2>
    <form action="/teacher/classroom/make" method="post">
        <div class="form-group">
            <label for="className">클래스 이름:</label>
            <input type="text" id="className" name="class_name" required>
        </div>

        <div class="form-group">
            <label for="subject">과목:</label>
            <input type="text" id="subject" name="subject" required>
        </div>

        <div class="form-group">
            <label for="maximumNumber">수강 정원:</label>
            <input type="range" id="maximumNumberRange" min="1" max="50" list="maximumNumberRangeTick">
            <datalist id="maximumNumberRangeTick">
                <option label="10">10</option>
                <option label="20">20</option>
                <option label="30">30</option>
                <option label="40">40</option>
                <option label="50">50</option>
            </datalist>
            <input type="number" id="maximumNumber" name="maximum_number" min="1" max="50" required>
        </div>

        <button type="submit">클래스 만들기</button>
    </form>

</div>

<script>
    // DOM 로딩이 완료되면 실행
    document.addEventListener("DOMContentLoaded", () => {
        const maximumNumber = document.getElementById("maximumNumber");
        const maximumNumberRange = document.getElementById("maximumNumberRange");

        // 수강 정원 폼에 이벤트 리스너 등록
        maximumNumber.addEventListener("input", () => {
            // 입력이 올바르면
            if(maximumNumber.validity.valid) {
                // 슬라이더에 반영
                maximumNumberRange.value = maximumNumber.valueAsNumber;
            }
        });
        // 수강 정원 슬라이더에 이벤트 리스너 등록
        maximumNumberRange.addEventListener("input", () => {
            // 입력이 올바르면
            if(maximumNumberRange.validity.valid) {
                // 슬라이더에 반영
                maximumNumber.value = maximumNumberRange.valueAsNumber;
            }
        });
    });
</script>
<script src="/assets/javascripts/teacher/register.js"></script>
</body>
</html>