table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 5px;
    text-align: center;
}
#matrix-container {
    display: grid;
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: repeat(4, 40px);
    gap: 1px;
    margin-top: 20px;
}
.cell {
    width: 40px;
    height: 40px;
}
.matrix-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 20px;
 }

