<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>일반 학생 mypage</title>
    <link rel="stylesheet" href="/assets/stylesheets/common.css">
    <link rel="stylesheet" href="/assets/stylesheets/table.css">
    <link rel="stylesheet" href="/assets/stylesheets/form.css">
    <link rel="stylesheet" href="/assets/stylesheets/mypage.css">

    <style>


    </style>

</head>
<div class="container">
    <div th:if="${error_message}" class="alert" role="alert" style="color: red;">
        <p th:text="${error_message}"></p>
    </div>
    <div th:if="${name}" class="alert" role="alert" style="color: black;">
        <p th:text="|${name} 학생이 로그인 되었습니다.|"></p>
    </div>
    <form action="/general/user/mypage" method="GET">
        <button type="submit" style="width: 30%;">My Page로 가기</button>
    </form>

    <br>
    <form action="/general/user/logout" method="POST">
        <button type="submit" style="width: 30%;">학생 로그아웃</button>
    </form>

    <br>
    <br>


    <div class ="all_section">
    <div class="big_section">
    <h2>I. 인공지능의 발전과정</h2>
    <ol>
        <li>
            <h3>인공지능의 발전 과정</h3>
            <ol>
                <li>
                    <span>마법대학교 입학하기</span>
                    <form action="/courses/MagicUniv/enroll_01" method="GET">
                        <input type="submit" value="들어가기" class="custom-button">
                    </form>
                </li>
            </ol>
        </li>
        <li>
            <h3>인공지능과 관련된 수학</h3>
            <ol>
                <li>
                    <span>앞으로 배울 것들</span>
                    <form action="/courses/MagicUniv/supply_01" method="GET">
                        <input type="submit" value="들어가기" class="custom-button">
                    </form>
                </li>
            </ol>
        </li>
    </ol>
    </div>
    <div class="big_section">
    <h2>II. 인공지능과 관련된 수학</h2>
    <ol>
        <li>
            <h3>텍스트 자료의 표현과 처리</h3>
            <ol>
                <li>
<!--                    빈도수 벡터, 원핫 인코딩 시각화-->
                    <span>텍스트 자료의 표현</span>
                    <form action="/courses/TextMaterials/Presentation_01" method="GET">
                        <input type="submit" value="들어가기" class="custom-button">
                    </form>
                </li>
                <li>
<!--                    임베딩 벡터 활용해서 소 + 새끼 => 송아지가 되는 과정 1d, 2d, 3d로 보여주기-->
                    <span>텍스트 자료의 처리와 시각화</span>
                    <form action="/courses/TextMaterials/Visualization_01" method="GET">
                        <input type="submit" value="들어가기" class="custom-button">
                    </form>
                </li>
            </ol>
        </li>
        <li>
            <h3>이미지 자료의 표현과 처리</h3>
            <ol>
                <li>
<!--                    사진을 R, G, B 채널의 합으로 나타낼 수 있다. 사진을 행렬로 나타낼 수 있다. -->
                    <span>이미지 자료의 표현</span>
                    <form action="/courses/ImagePresent/2dImagePresent_01" method="GET">
                        <input type="submit" value="들어가기" class="custom-button">
<!--                        <input type="submit" value="2d 들어가기" class="custom-button">-->
                    </form>
<!--                    <form action="/courses/ImagePresent/ImagePresent_01" method="GET">-->
<!--                        <input type="submit" value="3d 들어가기" class="custom-button">-->
<!--                    </form>-->
                </li>
                <li>
                    <span>이미지 자료의 처리</span>
                    <form action="/courses/ImagePresent/ImageProcess_01" method="GET">
                        <input type="submit" value="들어가기" class="custom-button">
                    </form>
                </li>
            </ol>
        </li>
    </ol>
    </div>
    <div class="big_section">
    <h2>III. 분류와 예측</h2>
    <ol>
        <li>
            <h3>자료의 분류</h3>
            <ol>
                <li>
                    <span>텍스트 자료의 분류</span>
                    <form action="/courses/Classification/TextClassification_01" method="GET">
                        <input type="submit" value="들어가기" class="custom-button">
                    </form>
                </li>
                <li>
                    <span>이미지 자료의 분류</span>
                    <form action="/courses/Classification/ImageClassification_01" method="GET">
                        <input type="submit" value="들어가기" class="custom-button">
                    </form>
                </li>
            </ol>
        </li>
        <li>
            <h3>경향성과 예측</h3>
            <ol>
                <li>
                    <span>확률을 이용한 예측</span>
                    <form action="/courses/TendencyAndPrediction/Probability_01" method="GET">
                        <input type="submit" value="들어가기" class="custom-button">
                    </form>
                </li>
                <li>
                    <span>추세선과 예측</span>
                    <form action="/courses/TendencyAndPrediction/TrendLine_01" method="GET">
                        <input type="submit" value="들어가기" class="custom-button">
                    </form>
                </li>
            </ol>
        </li>
    </ol>
    </div>
    <div class="big_section">
    <h2>IV. 최적화</h2>
    <ol>
        <li>
            <h3>최적화와 의사 결정</h3>
            <ol>
                <li>
                    <span>오차와 손실함수</span>
                    <form action="/courses/Optimization/ErrorAndLossFunction_01" method="GET">
                        <input type="submit" value="들어가기" class="custom-button">
                    </form>
                </li>
                <li>
                    <span>경사하강법</span>
                    <form action="/courses/Optimization/GradientDescent_01" method="GET">
                        <input type="submit" value="들어가기" class="custom-button">
                    </form>
                </li>
            </ol>
        </li>
        <li>
            <h3>합리적 의사 결정과 수학 탐구</h3>
            <ol>
                <li>
                    <span>인공지능의 합리적 의사 결정 사례</span>
                    <form action="/courses/ReasonableDecision/Case_01" method="GET">
                        <input type="submit" value="들어가기" class="custom-button">
                    </form>
                </li>
                <li>
                    <span>인공지능 수학 탐구</span>
                    <form action="/courses/ReasonableDecision/MathInquiry_01" method="GET">
                        <input type="submit" value="들어가기" class="custom-button">
                    </form>
                </li>
            </ol>
        </li>
    </ol>
    </div>
    </div>
<!--    <form action="/courses/KNN/KNNFunction_02" method="GET">-->
<!--        <input type="submit" value="KNN 학습" class="custom-button">-->
<!--    </form>-->
</div>
<script src="/assets/javascripts/student/register.js"></script>

</html>