<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ai Learn hub 홈페이지</title>
    <link rel="stylesheet" href="/assets/stylesheets/index.css">

<!--    <style>-->
<!--    </style>-->
</head>
<body>
<div class="container">
    <div class="intro">
        <h1>AI LearnHub</h1>
    </div>
    <div th:if="${register}" class="alert alert-success" role="alert">
        <p th:text="${register}"></p>
    </div>
    <div class="login_container">
        <div class="section">
            <div class ="left_section">
                <h2>선생님</h2>
                <a href="/teacher/login" class="login_button">로그인하기</a>
                <a href="/teacher/id" class="text_button">아이디 찾기</a>
                <div class="mini-vertical-line"></div>
                <a href="/teacher/pwd" class="text_button">비밀번호 찾기</a>
                <div class="mini-vertical-line"></div>
                <a href="/teacher/register" class="text_button">회원가입</a>
            </div>
        </div>
        <div class="vertical-line"></div> <!-- 세로 선 추가 -->
        <div class="section">
            <div class ="left_section">
                <h2>학생</h2>
                <a href="/student/login" class="login_button">로그인하기</a>
                <a href="/student/id" class="text_button">아이디 찾기</a>
                <div class="mini-vertical-line"></div>
                <a href="/student/pwd" class="text_button">비밀번호 찾기</a>
                <div class="mini-vertical-line"></div>
                <a href="/student/register" class="text_button">회원가입</a>
            </div>
        </div>
    </div>
    <div class="content">
        <p>우리 교육 사이트는 학생과 선생님 모두를 위한 최고의 학습 경험을 제공합니다.</p>
        <img src="/assets/images/site-edu.png" alt="교육 사이트 이미지">
    </div>
</div>
<!--<div class="horizontal-line"></div> &lt;!&ndash; 가로 선 추가 &ndash;&gt;-->




</body>
</html>

<!-- 외부 JavaScript 파일 연결 -->
<script src="/assets/javascripts/index.js"></script>
