<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학생 과제 제출 기록</title>
    <link rel="stylesheet" href="/assets/stylesheets/common.css">
    <link rel="stylesheet" href="/assets/stylesheets/table.css">
    <link rel="stylesheet" href="/assets/stylesheets/form.css">
    <link rel="stylesheet" href="/assets/stylesheets/footer.css">
</head>
<body class="teacher">
<div class="container">
    <div th:replace="~{menu::teacher(~{::crumbs}, ${name})}">
        <th:block th:fragment="crumbs">
            <a href="/teacher/mypage">마이페이지</a>
            <img class="icon" src="/assets/images/chevron-right.svg">
            <a th:href="@{/teacher/classroom/detail(className=${class_name})}" th:text="${class_name}">클래스 관리</a>
            <img class="icon" src="/assets/images/chevron-right.svg">
            <a th:href="@{/teacher/classroom/assignment/list(className=${class_name})}">과제 관리</a>
            <img class="icon" src="/assets/images/chevron-right.svg">
<!--            <span th:text="${section_name}">과제 세부정보</span>-->
            <a th:href="@{/teacher/classroom/assignment/detail(className=${class_name}, selectedSectionId=${selectedSectionId})}">과제 세부정보</a>
            <img class="icon" src="/assets/images/chevron-right.svg">
            <span>학생과제 제출 기록</span>
        </th:block>
    </div>
    <div th:if="${error_message}" class="alert" role="alert" style="color: red;">
        <p th:text="${error_message}"></p>
    </div>
    <div th:if="${result_message}" class="alert" role="alert" style="color: black;">
        <p th:text="|${result_message}|"></p>
    </div>

    <h2>제출 기록</h2>
    <div th:each="record : ${studentAssignmentRecordList}">
        <p th:text="${record.getAssignmentSubmitTime()}"></p>
        <p th:text="${record.getStudentMember().getStudentName()}"></p>
        <p th:text="${record.getStudentMember().getEmail()}"></p>
        <p th:text="${record.getScore()}"></p>
    </div>



</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="/assets/javascripts/teacher/register.js"></script>

</body>
</html>