<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>텍스트 자료의 표현 - 빈도수 벡터</title>
    <link rel="stylesheet" href="/assets/stylesheets/courses/ImagePresent/ImagePresent_01.css">
    <link rel="stylesheet" href="/assets/stylesheets/common.css">
    <link rel="stylesheet" href="/assets/stylesheets/table.css">
    <link rel="stylesheet" href="/assets/stylesheets/form.css">
    <link rel="stylesheet" href="/assets/stylesheets/mypage.css">

</head>
<div class="container">

    <div th:if="${error_message}" class="alert" role="alert" style="color: red;">
        <p th:text="${error_message}"></p>
    </div>
    <div th:if="${name}" class="alert" role="alert" style="color: black;">
        <p th:text="|${name} 학생이 로그인 되었습니다.|"></p>
    </div>
    <div th:if="${created_class_name}" class="alert" role="alert" style="color: black;">
        <p th:text="|${created_class_name} 클래스가 생성되었습니다.|"></p>
    </div>
    <form action="/general/user/mypage" method="GET">
        <button type="submit" style="width: 30%;">My Page로 가기</button>
    </form>
    <br>
    <form action="/general/user/logout" method="POST">
        <button type="submit" style="width: 30%;">학생 로그아웃</button>
    </form>


    <div class="big_section">
        <p>
            수와 수학 기호를 이용하여 실생활의 텍스트 자료를 목적에 알맞게 표현할 수 있다.
        </p>
    </div>

    <div class="big_section">
        <p>
            우드로우 교수님의 설명을 잘 들었나요?<br>
            우드로우 교수님이 주신 마법서는 텍스트 데이터, 이미지 데이터 등에 모두 활용됩니다.<br>
            텍스트 데이터와 이미지 데이터를 어떤 수치화하는 이유는 마법서에 쓰기 위함입니다.<br>
            실제 세상에서도 텍스트 데이터와 이미지 데이터를 수치화하여 컴퓨터에 저장하는데, 이는 같은 이유 때문입니다.<br>
        </p>
        <p>
            이번 챕터에선 간략하게 빈도수 벡터, 원 핫 인코딩, 임베딩 벡터를 배워볼거예요.
        </p>
    </div>
    <div class="big_section">
        <p>
            "첫째로, 빈도수 벡터는 각 단어가 문서나 문장에서 등장하는 횟수를 벡터로 표현하는 방법입니다.
            이 방법은 각 단어의 중요도를 빈도수로 표현하여 텍스트를 수학적으로 이해할 수 있도록 합니다."
        </p>
    </div>

    <!--    <input type="hidden" id="CurrPath" th:value="${CurrPath}">-->
    <br>

    <form action="/courses/TextMaterials/Presentation_03" method="get">
        <input type="submit" value = "다음으로 이동하기" class = "custom-button">
    </form>



</div>
<!--<script src="/assets/javascripts/courses/TextMaterials/Presentation_01.js"></script>-->
<script src="/assets/javascripts/student/register.js"></script>
</html>