<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>텍스트 자료의 처리와 시각화 - 임베딩 벡터의 연산</title>
    <link rel="stylesheet" href="/assets/stylesheets/courses/ImagePresent/ImagePresent_01.css">
    <link rel="stylesheet" href="/assets/stylesheets/common.css">
    <link rel="stylesheet" href="/assets/stylesheets/table.css">
    <link rel="stylesheet" href="/assets/stylesheets/form.css">
    <link rel="stylesheet" href="/assets/stylesheets/mypage.css">
    <link rel="stylesheet" href="/assets/stylesheets/dnd.css">


</head>
<div class="container">

    <div th:if="${error_message}" class="alert" role="alert" style="color: red;">
        <p th:text="${error_message}"></p>
    </div>
    <div th:if="${name}" class="alert" role="alert" style="color: black;">
        <p th:text="|${name} 학생이 로그인 되었습니다.|"></p>
    </div>
    <div th:if="${created_class_name}" class="alert" role="alert" style="color: black;">
        <p th:text="|${created_class_name} 클래스가 생성되었습니다.|"></p>
    </div>
    <form action="/general/user/mypage" method="GET">
        <button type="submit" style="width: 30%;">My Page로 가기</button>
    </form>
    <br>
    <form action="/general/user/logout" method="POST">
        <button type="submit" style="width: 30%;">학생 로그아웃</button>
    </form>


    <div class="big_section">
        수와 수학 기호로 표현된 텍스트 자료를 처리하는 수학 원리를 이해하고 자료를 시각화할 수 있다.
    </div>

    <div class="big_section">
        <p>
            지난시간에 배웠던 임베딩 벡터를 기억하고 계신가요? 임베딩 벡터는 단어를 고차원 공간에 벡터로 표현한 것이기 때문에 의미적으로 연산이 가능합니다.
        </p>
        <p>
            이번시간엔 위 특성을 이용하여 단어 간의 의미적 관계를 파악하고 다양한 의미적 연산을 수행해볼거에요! 실습을 해보면서 배워봐요.<br>
            (실습만으로 이해가 잘 되지 않는다면 아래 버튼을 눌러 설명을 읽어주세요!)
        </p>
        <button onclick="toggleParagraph()">Toggle</button>
        <div class="big_section">
            <p id="content" class="toggle-content">
                단어 간 유사성 연산: 임베딩 벡터를 사용하여 단어 간의 유사성을 계산할 수 있습니다.<br>
                예를 들어, "king" 벡터에서 "man" 벡터를 뺀 후 "woman" 벡터를 더하면 "queen" 벡터에 가까운 벡터가 생성됩니다.<br>
                이를 통해 "king"과 "queen" 사이의 의미적 관계를 파악할 수 있습니다.<br>
                <br><br>
                단어 간 의미적 연산: 임베딩 벡터를 사용하여 단어 간의 의미적 연산을 수행할 수 있습니다.<br>
                예를 들어, "king" 벡터에서 "man" 벡터를 뺀 후 "woman" 벡터를 더하면 "queen" 벡터와 유사한 결과가 나옵니다. <br>
                이렇게 하면 "king"에서 "man"을 빼고 "woman"을 더함으로써 "queen"에 가까운 의미를 갖는 벡터를 생성할 수 있습니다. <br>
                <br><br>
                단어 간 의미적 비교: 임베딩 벡터를 사용하여 단어 간의 의미적 비교를 수행할 수 있습니다. <br>
                예를 들어, 두 단어의 임베딩 벡터 사이의 거리를 측정하여 두 단어의 의미적 유사성을 파악할 수 있습니다.<br>
                두 단어가 비슷한 의미를 갖는 경우 거리가 가깝고, 반대로 다른 의미를 갖는 경우 거리가 멀어집니다.<br>
                이러한 임베딩 벡터의 의미적 연산을 통해 단어의 의미를 보다 정확하게 파악하고 이해할 수 있습니다.
                이는 자연어 처리 분야에서 중요한 응용 분야 중 하나입니다.
            </p>
        </div>
    </div>
    <div class="big_section">
<!--        닭 돼지 소-->
<!--        병아리 아기 돼지 송아지-->
<!--        닭고기 돼지고기 소고기-->
        <p>닭, 돼지, 소에 더하고 싶은 벡터 성분을 끌어다 놓아 주세요.</p>
        <div id="drag-container">
            <div id="draggable1" draggable="true" class="draggable">새끼 벡터</div>
            <div id="draggable2" draggable="true" class="draggable">음식 벡터</div>

            <div id="dropzone1" class="dropzone">벡터 주머니</div>
            <div id="dropzone2" class="dropzone">(여기로 드래그 & 드롭 해주세요!)적용할 것</div>
        </div>
        <img id="chickenImg" src="/assets/images/TextMaterials/chicken.jpg" alt="닭 벡터" >

    </div>
    <!--    <input type="hidden" id="CurrPath" th:value="${CurrPath}">-->
    <br>

    <form action="/courses/TextMaterials/Visualization_04" method="get">
        <input type="submit" value = "다음으로 이동하기" class = "custom-button">
    </form>


</div>
<script src="/assets/javascripts/courses/TextMaterials/Visualization_03.js"></script>
<script src="/assets/javascripts/student/register.js"></script>
</html>