<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/stylesheets/footer.css">
</head>
<body>
<footer class="site-footer" th:fragment="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <div class="header-logo">
                <img src="/assets/images/site-edu.png" alt="AI LearnHub Logo" style="width: 50px;">
                <h3>AI LearnHub</h3>
            </div>
            <hr>
            <p>우리 교육 사이트는 학생과 선생님 모두를 위한 최고의 학습 경험을 제공합니다.</p>
        </div>
        <div class="footer-section links">
            <h4>학습 자료</h4>
            <ul>
                <li><a href="#">기초 원리</a></li>
                <li><a href="#">학습 가이드</a></li>
                <li><a href="#">실습 예제</a></li>
            </ul>
        </div>
        <div class="footer-section contact-form">
            <h4>문의하기</h4>
            <p>궁금한 점이 있으시면 언제든지 문의해주세요.</p>
        </div>
    </div>
    <hr>
    <div class="footer-bottom">
        <p>&copy; 2024 AI LearnHub.</p>
    </div>
</footer>
</body>
</html>


