<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인공지능의 합리적 의사 결정 사례 - 사례</title>
    <link rel="stylesheet" href="/assets/stylesheets/courses/dialogue.css">
    <link rel="stylesheet" href="/assets/stylesheets/common.css">
    <link rel="stylesheet" href="/assets/stylesheets/table.css">
    <link rel="stylesheet" href="/assets/stylesheets/form.css">
    <link rel="stylesheet" href="/assets/stylesheets/mypage.css">
    <!--    <link rel="stylesheet" href="/assets/stylesheets/courses/ImageClassification_02.css">-->
</head>
<div class="container">

    <div th:if="${error_message}" class="alert" role="alert" style="color: red;">
        <p th:text="${error_message}"></p>
    </div>
    <div th:if="${name}" class="alert" role="alert" style="color: black;">
        <p th:text="|${name} 학생이 로그인 되었습니다.|"></p>
    </div>
    <div th:if="${created_class_name}" class="alert" role="alert" style="color: black;">
        <p th:text="|${created_class_name} 클래스가 생성되었습니다.|"></p>
    </div>
    <form action="/general/user/mypage" method="GET">
        <button type="submit" style="width: 30%;">My Page로 가기</button>
    </form>
    <br>
    <form action="/general/user/logout" method="POST">
        <button type="submit" style="width: 30%;">학생 로그아웃</button>
    </form>
    <br>

    <div class="big_section">
        <p>
            인공지능을 활용하는 합리적인 의사 결정의 사례들을 설명할 수 있다.
        </p>
    </div>
    <br>

    <div class = "big_section">
        사례 1: 바둑 프로그램
        웹페이지를 만들어서 바둑 프로그램에 대해 설명해 보겠습니다. 바둑은 전략적인 결정과 패턴 인식을 요구하는 게임으로, 인공지능이 바둑을 플레이하는 데에 큰 관심이 있습니다. 여러분은 이 웹페이지에서 바둑의 역사, 규칙, 그리고 인공지능이 바둑에서 어떻게 최적의 수를 결정하는지에 대한 기본적인 이해를 얻을 수 있을 겁니다. 그리고 AlphaGo와 같은 인공지능 프로그램이 어떻게 바둑에서 전문가 수준의 플레이를 구현하는지에 대한 간단한 설명도 포함할 수 있겠네요.
    </div>
    <div class = "big_section">
    사례 2: 자율 주행 자동차
        다음으로는 자율 주행 자동차에 대한 설명을 웹페이지에 구현해 보겠습니다. 이 페이지에서는 자율 주행 자동차의 작동 원리와 센서, 알고리즘, 그리고 인공지능이 어떻게 주행 경로를 계획하고 주변 환경을 인식하는지에 대한 기본적인 개념을 설명할 겁니다. 또한 자율 주행 자동차의 안전성과 효율성을 높이기 위해 인공지능이 어떻게 계속해서 학습하고 개선되는지에 대해서도 다룰 수 있겠죠.
    </div>
    <div class = "big_section">
    사례 3: 자동 번역 시스템
        마지막으로 자동 번역 시스템에 대해 설명하는 웹페이지를 만들어 보겠습니다. 이 페이지에서는 자동 번역 시스템의 기본 개념과 작동 방식을 설명할 것입니다. 언어 처리 및 기계 학습 알고리즘을 사용하여 문장을 이해하고 번역하는 과정에 대한 간단한 설명을 포함할 것입니다. 또한 최신 기술과 인공지능의 발전으로 자동 번역 시스템이 어떻게 점차적으로 더 정확하고 자연스러운 번역을 제공하는지에 대해서도 이야기할 수 있겠죠.
        이렇게 각 사례에 대한 설명을 담은 웹페이지를 만들면 사용자들은 인공지능이 어떻게 다양한 분야에서 최적화된 의사 결정을 수행하는지에 대한 기본적인 이해를 얻을 수 있을 겁니다.
    </div>


    <form action="/courses/ReasonableDecision/Case_03" method="get">
        <!-- 전송 버튼 -->
        <input type="submit" value = "다음으로 이동하기" class = "custom-button">
    </form>
</div>
<!--<script src="/assets/javascripts/courses/Classification/ImageClassification_02.js"></script>-->
<script src="/assets/javascripts/student/register.js"></script>
</html>