<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인공지능 수학 탐구 - 탐구</title>
    <link rel="stylesheet" href="/assets/stylesheets/courses/dialogue.css">
    <link rel="stylesheet" href="/assets/stylesheets/common.css">
    <link rel="stylesheet" href="/assets/stylesheets/table.css">
    <link rel="stylesheet" href="/assets/stylesheets/form.css">
    <link rel="stylesheet" href="/assets/stylesheets/mypage.css">
    <!--    <link rel="stylesheet" href="/assets/stylesheets/courses/ImageClassification_02.css">-->
</head>
<div class="container">

    <div th:if="${error_message}" class="alert" role="alert" style="color: red;">
        <p th:text="${error_message}"></p>
    </div>
    <div th:if="${name}" class="alert" role="alert" style="color: black;">
        <p th:text="|${name} 학생이 로그인 되었습니다.|"></p>
    </div>
    <div th:if="${created_class_name}" class="alert" role="alert" style="color: black;">
        <p th:text="|${created_class_name} 클래스가 생성되었습니다.|"></p>
    </div>
    <form action="/general/user/mypage" method="GET">
        <button type="submit" style="width: 30%;">My Page로 가기</button>
    </form>
    <br>
    <form action="/general/user/logout" method="POST">
        <button type="submit" style="width: 30%;">학생 로그아웃</button>
    </form>
    <br>

    <div class="big_section">
        <p>
            합리적인 의사 결정과 관련된 인공지능 수학 탐구 주제를 선정하여 탐구를 수행한다.
        </p>
    </div>
    <br>

    <div class = "big_section">
        <h1>탐구 공부 과정</h1>
        <section id="topic-selection">
            <h2>1. 탐구 주제 선정</h2>
            <p>예를 들어, 수학 분야에서는 소수의 특성에 대한 탐구를 선택할 수 있습니다. 소수란 무엇이고, 어떤 특성을 가지는지에 대해 탐구하세요.</p>
        </section>
        <section id="data-collection">
            <h2>2. 자료 수집</h2>
            <p>예를 들어, 인터넷에서 관련된 논문, 책 또는 웹사이트를 찾아서 자료를 수집하세요. 소수에 관한 다양한 연구와 예제를 찾아보세요.</p>
        </section>
        <section id="data-analysis">
            <h2>3. 자료 분석 및 정리</h2>
            <p>예를 들어, 수집한 자료를 분석하여 소수의 특성과 관련된 패턴이나 규칙을 찾아내세요. 이를 정리하여 나중에 활용할 수 있도록 해보세요.</p>
        </section>
        <section id="research-conduct">
            <h2>4. 탐구 수행</h2>
            <p>예를 들어, 소수의 특성을 활용하여 새로운 문제를 만들고, 해당 문제를 해결해 보세요. 또는 소수와 관련된 다양한 예제를 풀어 보세요.</p>
        </section>
        <section id="result-evaluation">
            <h2>5. 탐구 결과 정리 및 평가</h2>
            <p>예를 들어, 탐구를 통해 발견한 결과를 정리하고, 해당 결과가 어떤 의미를 가지는지 평가해 보세요. 다른 사람들과 공유할 수 있는 형태로 결과를 정리해 보세요.</p>
        </section>

    </div>


    <form action="/courses/ReasonableDecision/MathInquiry_03" method="get">
        <!-- 전송 버튼 -->
        <input type="submit" value = "다음으로 이동하기" class = "custom-button">
    </form>
</div>
<!--<script src="/assets/javascripts/courses/Classification/ImageClassification_02.js"></script>-->
<script src="/assets/javascripts/student/register.js"></script>
</html>