:root {
    box-sizing: border-box;
    /* 학생 테마 색상 */
    --main-color: #4f68dc;
    --main-color-secondary: #6982f3;
    --background-color: #afc8fc;
}

.teacher {
    /* 선생님 테마 색상 */
    --main-color: #b921c4;
    --main-color-secondary: #da59e3;
    --background-color: #f3cbf6;
}

body {
    background-color: var(--background-color);

    font-family: Arial, sans-serif;
    margin: 0;
    /* padding: 0; */
}
.container {
    max-width: 800px;
    margin: 50px auto;

    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    /*display: flex;*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*height: 100vh;*/
}
.intro {
    max-width: 800px;
    /*margin: 50px auto;*/
    margin-top: 10px; /* 위쪽 여백 */
    margin-right: auto; /* 오른쪽 여백 */
    /*margin-bottom: 10px; !* 아래쪽 여백 *!*/
    margin-left: auto; /* 왼쪽 여백 */

    padding: 20px;
    /*background-color: #fff;*/
    background-color: var(--main-color);
    color: white; /* 텍스트의 색상을 빨간색으로 변경 */

    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    /*background-color: lightblue; !* 백그라운드 색상 설정 *!*/
    text-align: center;
    /*margin-top: 50px;*/
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.login-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--main-color-secondary);
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.text-button {
    display: inline-flex;
    color: grey; /* 또는 다른 회색 색상 코드 */
    text-decoration: none; /* 밑줄 제거 */
    font-size: 14px; /* 글자 크기 조절 */

}
.section {
    /*display: inline-block;*/
    display: flex;

    margin: 5px;
    text-align: center;
    /*margin-bottom: 20px;*/
    padding: 30px;
    align-items: center;
}
.left-section {
    /*text-align: center;*/

    /*display: inline-block;*/
    /*margin: 30px auto;*/
    /*text-align: center;*/
    /*margin-bottom: 20px;*/
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 180px;
}

.horizontal-line {
    border-top: 1px solid #ccc; /* 가로 선 스타일 지정 */
    margin: 20px 0; /* 섹션 사이의 간격 조정 */
    width: 100%; /* 가로 선 너비 설정 */
}
.vertical-line {
    border-left: 1px solid #ccc; /* 세로 선 스타일 지정 */
    height: 100px; /* 세로 선 높이 설정 */
    /*margin: 0 auto; !* 가운데 정렬 *!*/
}
.mini-vertical-line {
    display: inline-flex;

    border-left: 1px solid #ccc; /* 세로 선 스타일 지정 */
    height: 10px; /* 세로 선 높이 설정 */
    /*margin: 0 auto; !* 가운데 정렬 *!*/
}
.content {
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    /*background-color: #fff;*/
    color: white;

    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    text-align: center;
}
