.intro {
    max-width: 50rem;
    /* 위쪽 / 좌우 / 아래 여백 */
    margin: 0.625rem auto 0;

    padding: 1.25rem;
    background-color: var(--main-color);
    color: white;

    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);

    text-align: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-section {
    margin: 2.1875rem;
    width: 18.75rem;
    height: 11.25rem;
    border-radius: 1.25rem;
    text-align: center;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}
.login-button {
    display: block;
    width: 12.5em;
    margin: 1.25em auto;
}
.small-link {
    color: grey;
    text-decoration: none; /* 밑줄 제거 */
    font-size: 0.875em; /* 글자 크기 조절 */
}
.vertical-line {
    border-left: 1px solid #ccc; /* 세로 선 스타일 지정 */
    height: 6.25rem; /* 세로 선 높이 설정 */
}
.mini-vertical-line {
    display: inline-block;
    border-left: 1px solid #ccc; /* 세로 선 스타일 지정 */
    height: 0.625rem; /* 세로 선 높이 설정 */
}

.content {
    max-width: 50rem;
    margin: 0.625rem auto;
    padding: 1.25rem;
    background-color: white;

    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);

    text-align: center;
}