.all_section{
    margin: 20px;
    padding: 20px;
    background-color: #d5f0ff; /* 연한 하늘색 */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.big_section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /*text-align: left; !* 왼쪽 정렬 *!*/
}
.all_section h2,
.all_section h3,
.all_section li {
    text-align: left; /* 왼쪽 정렬 */
    font-family: "Nanum Gothic", sans-serif; /* 특정 글꼴 지정 */
}
.custom-button {
    background-color: #87ceeb; /* 하늘색 */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.custom-button:hover {
    background-color: #53868b; /* 짙은 하늘색 */
}

.outer-div {
     display: flex;
     justify-content: center; /* 수평 가운데 정렬 */
     align-items: center; /* 수직 가운데 정렬 */
 }

.canvas-container {
    display: flex; /* flexbox 사용 */
    flex-direction: column; /* 세로로 배치 */
}
.canvas-container canvas {
    border: 1px solid #000;
    margin: 5px; /* 각 canvas 요소 사이의 간격 조정 */
    /*text-align: center;*/
}

.box {
    /*border: 2px solid #000;*/
    padding: 5px;
    width: fit-content;
    background-color: #ADD8E6; /* 연한 하늘색 */
}

.word {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: lightblue;
    border-radius: 5px;
}

.rounded-skyblue {
    background-color: skyblue;
    border-radius: 10px; /* 모서리를 둥글게 만듦 */
    padding: 10px; /* 내용과 테두리 사이의 간격 */
}
