table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

thead tr {
	color: white;
	background-color: var(--main-color);
}

td, th {
	padding: 4px;
}
tr:nth-child(even) {
	background-color: #eee;
}
