<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KNNFunction - 기능 페이지</title>
<!--    <link rel="stylesheet" href="/assets/stylesheets/courses/ImagePresent/ImagePresent_01.css">-->
    <link rel="stylesheet" href="/assets/stylesheets/common.css">
    <link rel="stylesheet" href="/assets/stylesheets/table.css">
    <link rel="stylesheet" href="/assets/stylesheets/form.css">
</head>
<div class="container">

    <div th:if="${error_message}" class="alert" role="alert" style="color: red;">
        <p th:text="${error_message}"></p>
    </div>
    <div th:if="${name}" class="alert" role="alert" style="color: black;">
        <p th:text="|${name} 학생이 로그인 되었습니다.|"></p>
    </div>
    <div th:if="${created_class_name}" class="alert" role="alert" style="color: black;">
        <p th:text="|${created_class_name} 클래스가 생성되었습니다.|"></p>
    </div>
    <form action="/general/user/mypage" method="GET">
        <button type="submit" style="width: 30%;">My Page로 가기</button>
    </form>
    <br>
    <form action="/general/user/logout" method="POST">
        <button type="submit" style="width: 30%;">학생 로그아웃</button>
    </form>

    <br>


<!--    <div id="talkInterface">-->
<!--        <canvas id="imageCanvas" width="500" height="500" onclick="changeImage()"></canvas>-->
<!--        <div id="dialogueBox"></div>-->
<!--    </div>-->

    <iframe th:src="|${CurrPath}/assets/courses/KNN/KNNFunction_01/index.html|" style="width:100%; height:500px;">
        <p>죄송합니다. 이 브라우저는 iframe을 지원하지 않습니다.</p>
    </iframe>


    <form action="/courses/KNN/KNNFunction_04" method="get">
        <!-- 전송 버튼 -->
        <input type="submit" value = "다음으로 이동하기">
    </form>


</div>
<!--<script src="/assets/javascripts/courses/ImagePresent/ImagePresent_01.js"></script>-->
<script src="/assets/javascripts/student/register.js"></script>
</html>