<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>선생님 mypage</title>
    <link rel="stylesheet" href="/assets/stylesheets/common.css">
    <link rel="stylesheet" href="/assets/stylesheets/details.css">
    <link rel="stylesheet" href="/assets/stylesheets/form.css">
</head>
<div class="container">
    <div th:replace="~{menu::student(~{::crumbs}, ${name})}">
        <th:block th:fragment="crumbs">
            <a href="/student/mypage">마이페이지</a>
            <img class="icon" src="/assets/images/chevron-right.svg">
            <a th:href="@{/student/classroom/detail(className=${class_name},uuid=${uuid})}" th:text="${class_name}">클래스 관리</a>
            <img class="icon" src="/assets/images/chevron-right.svg">
            <a th:href="@{/student/classroom/assignment/list(className=${class_name})}">과제 관리</a>
            <img class="icon" src="/assets/images/chevron-right.svg">
            <span th:text="${section_name}">과제 세부정보</span>
        </th:block>
    </div>

    <div th:if="${error_message}" class="alert" role="alert" style="color: red;">
        <p th:text="${error_message}"></p>
    </div>

    <h2>과제 세부정보</h2>

    <h3>
        <span th:text="${class_name}"></span>
        &gt;
        <span th:text="${section_name}"></span>
    </h3>
    <div class="details-list">
        <div class="details-item">
            <h5>과제 생성일</h5>
            <span class="emphasize" th:text="${#dates.format(assignment_creation_date, 'yyyy''년'' M''월'' d''일''')}"></span>
        </div>
        <div class="details-item">
            <h5>과제 마감일</h5>
            <span class="emphasize" th:text="${#dates.format(assignment_due_date, 'yyyy''년'' M''월'' d''일''')}"></span>
        </div>
    </div>

    <form id="studentDeleteForm" action="/student/classroom/assignment/do" method="post">
        <input type="hidden" id="className" name="className" th:value="${class_name}">
        <input type="hidden" id="selectedStudent" name="studentAssignmentId" th:value="${assignment_id}">
        <button type="submit">과제 수행하기 -제작중-</button>
    </form>
</div>

<script src="/assets/javascripts/student/register.js"></script>

</html>