<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>과제 리스트</title>
    <link rel="stylesheet" href="/assets/stylesheets/common.css">
    <link rel="stylesheet" href="/assets/stylesheets/table.css">
    <link rel="stylesheet" href="/assets/stylesheets/form.css">
</head>
<div class="container">
    <div th:replace="~{menu::student(~{::crumbs}, ${name})}">
        <th:block th:fragment="crumbs">
            <a href="/student/mypage">마이페이지</a>
            <img class="icon" src="/assets/images/chevron-right.svg">
            <a th:href="@{/student/classroom/detail(className=${class_name},uuid=${uuid})}" th:text="${class_name}">클래스 관리</a>
            <img class="icon" src="/assets/images/chevron-right.svg">
            <span>과제 관리</span>
        </th:block>
    </div>

    <div th:if="${error_message}" class="alert" role="alert" style="color: red;">
        <p th:text="${error_message}"></p>
    </div>
    <div th:if="${created_class_name}" class="alert" role="alert" style="color: black;">
        <p th:text="${created_class_name} 클래스가 생성되었습니다."></p>
    </div>

    <h2 th:text="|${class_name} 과제 조회|">Classroom Detail</h2>


    <h2>과제 목록</h2>
    <table>
        <thead>
        <tr>
            <th>과제 이름</th>
            <th>생성일</th>
            <th>마감일</th>
            <th style="width: 80px;">세부정보 (TODO)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student_assignment : ${student_assignment_list}">
            <td th:text="${student_assignment.sectionName}"></td>
            <td th:text="${student_assignment.assignmentCreationDate}"></td>
            <td th:text="${student_assignment.assignmentDueDate}"></td>
            <td>
                <form action="/student/classroom/assignment/detail" method="get">
                    <input type="hidden" name="className" th:value="${class_name}">
<!--                    <input type="hidden" name="sectionName" th:value="${student_assignment.sectionName}">-->
                    <input type="hidden" name="selectedSectionId" th:value="${student_assignment.id}">
                    <input type="hidden" id="uuid" name="uuid" th:value="${uuid}">
                    <!--                    <button type="submit" th:className="${className}" th:studentMember.id="${studentMember.id}">세부정보</button>-->
                    <button type="submit" >이동</button>

                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>


<script src="/assets/javascripts/student/register.js"></script>

</html>